asttokens==2.4.1
attrs==23.1.0
awscli==1.29.82
boto3==1.28.82
botocore==1.31.82
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.4
comm==0.2.0
contextlib2==21.6.0
debugpy==1.8.0
decorator==5.1.1
dill==0.3.7
docutils==0.16
executing==2.0.1
google-pasta==0.2.0
importlib-metadata==6.8.0
ipykernel==6.26.0
ipython==8.17.2
jedi==0.19.1
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter_client==8.6.0
jupyter_core==5.5.0
matplotlib-inline==0.1.6
multiprocess==0.70.15
nest-asyncio==1.5.8
nltk==3.8.1
numpy==1.26.1
packaging==23.2
pandas==2.1.2
parso==0.8.3
pathos==0.3.1
platformdirs==3.11.0
pox==0.3.3
ppft==1.7.6.7
prompt-toolkit==3.0.39
protobuf==4.25.0
psutil==5.9.6
pure-eval==0.2.2
pyasn1==0.5.0
Pygments==2.16.1
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.1
referencing==0.30.2
regex==2023.10.3
rpds-py==0.12.0
rsa==4.7.2
s3transfer==0.7.0
sagemaker==2.197.0
schema==0.7.5
scikit-learn==1.3.2
scipy==1.11.3
six==1.16.0
smdebug-rulesconfig==1.0.1
stack-data==0.6.3
tblib==1.7.0
threadpoolctl==3.2.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
tzdata==2023.3
urllib3==2.0.7
wcwidth==0.2.9
zipp==3.17.0
